version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    environment:
      - MONGODB_URI=mongodb+srv://satyam073000_db_user:C9cWSz2AKLvjoBhp@ailearning.s9yhmlb.mongodb.net/ai-learning-app?appName=AILearning
    depends_on:
      - mongo
    networks:
      - app-network

  frontend:
    build: ./frontend/ai-learning-assitant-app
    ports:
      - "5173:5173"
    depends_on:
      - backend
    networks:
      - app-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
